/*
.title {
    color: red;
}

.subtitle {
    color: blue;
}

#contact-us {
    color: green;
}
*/

/*
h2 {
    color: red;
}

.about-me {
    color: blue;
}
*/


/*
h2 {
    color: red;
}

.subtitle {
    color: blue;
}

#services {
    color: green;
}
*/

h2:hover {
    color: red;
}

.subtitle {
    color: blue;
}

h2#services:hover {
    color: orange;
}

